<div fxLayoutAlign="center center"  fxFlexFill class="reg"  >
    <div fxLayout="column" fxLayoutAlign="space-around center" >
      <mat-card  fxFlex="25" class="card">
        
          <mat-toolbar fxLayoutAlign="center center" color="primary">Sign up</mat-toolbar>
          <br>
          <mat-form-field appearance="outline">
    <mat-label>Enter your First Name</mat-label>
    <input matInput>
    <mat-icon matSuffix>account_circle</mat-icon>
  </mat-form-field>
  
  
    <mat-form-field appearance="outline">
    <mat-label>Enter yourLast Name</mat-label>
    <input matInput>
    <mat-icon matSuffix>account_circle</mat-icon>
  </mat-form-field>
  
  <mat-form-field appearance="outline">
    <mat-label>Enter your mail id</mat-label>
    <input matInput >
    <mat-icon matSuffix> email</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Enter your password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>ReEnter your password</mat-label>
          <input matInput [type]="hide1 ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
            <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
            </mat-form-field>
            <section class="example-section">
              <mat-checkbox class="example-margin">Check me!</mat-checkbox>
           </section>
           <div  fxLayout="row" fxLayoutAlign="center center" >
            <button mat-raised-button color="primary">Register</button>
            </div>



            

   
  
 
   

          </mat-card>
</div>
</div>


        
                    